.templatepage__header {
    height: 118px;
    grid-area: header;
    padding-top: 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}


.header__menu {
    flex-grow: 1;
}

.header__menu a {
    text-decoration: none;
    color: inherit;
}

  .header__menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
   justify-content: flex-end;
   margin-right: 57px;
  }

  .header__menu li {
    margin-right: 12px;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #ACB5BD;
  }

  .header__menu as:hover {
      color: #212429;
  }

  .header__menu li:last-child {
    margin-right: 0;
  }
 