
.calendar {
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    padding: 28px 26px 32px 26px;
}

.calendar__inner {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    position: absolute;
    width: 100%;
    height: 100%;
}

.calendar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;    
    color: #334D6E;
}

.calendar__item_startend {
    background-color:  #4263EB;
    color: #ffffff;
}

.calendar__item_in {
    background: #A0B1F580;   
}

.calendar__item_day {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;    
    color: #90A0B7;
}

.calendar__wrapper {
    position: relative;
    padding-bottom: 100%;
}

.calendar__title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;   
    color: #334D6E;   
}