.skeleton {
    max-width: 579px;
    display: flex;
    flex-wrap: wrap;
    padding: 32px 40px 32px 24px;
    box-sizing: border-box;    
    border-radius: 8px;
    border: 1px solid var(--grey-3);}

.skeleton__general-info, .skeleton__total-info {
    display: flex;
    flex-wrap: wrap;
    }

.skeleton__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--grey-2);
    margin-right: 16px;}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;}

.skeleton__naming {
    width: 172px;
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);}

.skeleton__description {
    width: 257px;
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);}

.skeleton__about {
    width: 515px;
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);}

.skeleton__about:first-child {
    margin: 24px 0 8px 0px;}
