.footer {
    height: 200px;
    
}

.footer__title {  
    margin-top: 72px;  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    color: var(--black);
}

.footer__text {
    margin-top: 32px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--black);
}
    